<section class="info_section" id="info">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="info_logo">
          <a class="navbar-brand" href="index.html">
            <span> <img src="./assets/images/the-guard-logo.png" alt="" width="50%"> </span>
          </a>
          <p>
            Brindamos servicios de seguridad privada de alta calidad, respaldados por más de 10 años de experiencia y
            personal altamente capacitado.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_links">
          <h5>Enlaces Rápidos</h5>
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">Acerca</a></li>
            <li><a href="#service">Servicios</a></li>
            <li><a href="#guard">Guardias</a></li>
            <li><a href="#contact">Contacto</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_info">
          <h5>Contacto</h5>
          <p>
            Av. Principal #123, Col. Centro, Ciudad de México.
            Teléfono: +52 55 1234 5678
            Email: contacto&#64;theguardsecurity.com
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_form">
          <h5>Redes Sociales</h5>
          <div class="social_box">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="container-fluid footer_section">
  <p>
    &copy; 2024 The Guard Security - Todos los derechos reservados
  </p>
</footer>